.app-wrapper {
    display: grid;

    margin: 0 auto    ;
    width: 1200px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}


.header {
    grid-area: h;
    background-color: rgba(144, 47, 232, 0.54);
}

.header img {
    width: 113px;
}

.nav {
    grid-area: n;
    background-color: #a83636;
}

.content {
    grid-area: c;
    background-color: darkseagreen;
}
